.icon-close2 {
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
}

.icon-close2:hover {
  background-color: #2a2a2a;
}

.icon-plus:hover {
  border-color: #fff;
}

.icon-plus {
  border-color: #b3b3b3;
}

.info-scroll {
  max-height: 552px;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
  padding-right: 6px;
}

.info-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #555; /* WebKit browsers */
}
.info-scroll:hover::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* WebKit browsers */
}

.queue,
.info-credits,
.info-artist {
  background-color: #242424;
}

.artist-description p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
  font-size: 14px;
}
